<?php

namespace Findologic\Plentymarkets;

class Config {
    const USERNAME = 'Username';
    const PASSWORD = 'Password';
    // IMPORTANT! No protocol should be provided as client class will take care of this
    const URL = 'yourshop.com/';
    const TAXRATE_COUNTRY_CODE = 'GB';
    const TEXT_LANGUAGE_CODE = 'EN';
    // Currently it seems the max value for api is 50
    const NUMBER_OF_ITEMS_PER_PAGE = 50;
    const INCLUDE_INACTIVE_PRODUCTS_FLAG = false;
    const AVAILABILITY_ID = null;
    const DEFAULT_EMPTY_VALUE = '';
    const DEBUG = false;
}